html { font-family: sans-serif; background: #eee; padding: 0.5rem; }
body { margin: 0; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 1rem 10rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
  }
  
  .gallery h1 {
    color: coral;
  }
  
  .gallery .grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 95%;
    margin: 1rem auto;
  }
  .gallery .grid-container div {
    margin: 0 1rem 0.6rem 0;
    display: inline-block;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .gallery .grid-container div:hover .g-content {
    transform: scale(1.06);
  }
  
  .gallery .grid-container div .g-content {
    width: 100%;
    transition: all 0.25s ease-in-out;
  }
  .gallery .grid-container div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
  }

.open-file{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.g-btn{
    color: white;padding: 0.4rem;border: 1px solid white;border-radius: 5px;margin: 1rem 1rem;cursor: pointer;
}

.g-title{
    display: flex;align-items: center;justify-content: center;color: white;
    height: 8%;width: 100%;position: absolute;bottom: 4%;flex-direction: column;
}

.g-title * {
    margin: 0.2rem;
}

#loading{
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1rem 0;
}

.color-red{
  border: 1px solid red !important;
  color: red !important;
}

.open-file-container{
  width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-file-container *{
  max-width: 65% !important;
}
.nav-container{
  position: fixed;
    top: 50%;
    width: 100%;
    height: 100%;
}

.nav-controls{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 2000;
    transform: translate(0, -50%);
}

.prev{
  border: 1px solid blue;padding: 10px;border-radius: 5px;box-shadow: 3px 3px rgba(255,255,255,0.1);cursor: pointer;
}

.next{
  border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -3px 3px rgba(255,255,255,0.1);
}